html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
a  {
	color: black;
	text-decoration : none; 
}
a:hover {
	text-decoration : underline;
}
h1  {
	text-align : center;
	font: italic bold 40px consolas, sans-serif; 
}
hr {
	height: 10px; border: solidgrey; background:grey;
}
dt {
	font-weight: bold;
}
#header{
	width: 100%;
	height: 10%;
}
#asean {
	position: relative;
	height: 80%;
	width: 50%;
	float: left;
	background: url('asean.jpg') no-repeat;
	background-size: contain;
}
#vodka{
	position: absolute;
	top: 60px;
	right: 300px;
}
#Malay{
	position: absolute;
	bottom: 230px;
	left: 160px;
}
#Phil{
	position: absolute;
	top: 150px;
	right: 300px;
}
#Viet{
	position: absolute;
	top: 200px;
	left: 240px;
}
#nav{
	width: 30%;
	height: 80%;
	float: left;
}
#aside{
	width: 20%;
	height: 80%;
	float: left;
}
#footer{
	width: 100%;
	height: 10%;
}
#table{
	width: 100%;
	height: 62%;
	border-radius: 6px;
}