html, body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
}
.container::after{
    content: "";
    width: 100vw;
    height: 100vh;
    background: url('assets/Yeru.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
table {
    font-weight: bold;
}
td{
    width: 30%;
    height: 30%;
}